# Config params:
#	led=<provider>|<name>	Provider: t, c, x	Name: 0-15, caps, scroll, num
#	event=<type>		Type: read, write, both
#	device=<name>		Name: eg. sda1, sda, mmcblkp1
led=x|scroll event=both device=sdb
led=x|caps event=both device=sda
