[Unit]
Description=Standalone I2P BitTorrent Client

[Service]
User=xd-torrent
Group=xd-torrent
WorkingDirectory=/var/lib/xd-torrent
ExecStart=/usr/bin/XD /var/lib/xd-torrent/xd.ini
Restart=on-failure

[Install]
WantedBy=default.target
